body {
  background: url("dine.jpg") repeat-x, url("therock.jpg") no-repeat;
  background-color:#53586B;
  background-size: 1400px 788px, cover;
    font-size: 20px;
    font-family: helvetica;
    color: ghostwhite;
    line-height: 30px;
    margin-top: 275px;
  margin-left: 70px;
  padding: 20px;
}
