body {
  text-align:center;
  background:url('02.jpg');
  background-size: cover;
  background-position:center;
  color:white;
  font-family:helvetica;
  }

p  {
    color:white;
    font-family:courier;
    font-size:160%
}

html,
body {
  height: 100%;
}

.cover-image {
  background-image: url('02.jpg');
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1; 
}

.cover-image {
  background-repeat: no-repeat;
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
  
  iframe {
    width: 100%;
    height: 100%;
  }
  

  h1 { 
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 300px;
    text-align: center;
    margin: auto; 
    font-size: 3em;
  }
}

header {
  height: 300%;
  min-height: 100%; 
  width: 100%;
  display: inline-block;
  position: relative;
  
  
  nav {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    display: block;
    width: 00%;
    margin: 0 auto;
    text-align: center;
    
    background-color: fadeout(#fff, 70%);
    
    a {
      color: black;
      font-size: 1.5em;
      display: inline-block;
      margin: 10px 30px;
      //display: inline-block;
    }
  }
}



.content {
  background-image: url('bamboo.jpg');
  background-repeat: no-repeat;
  padding: 100px ;
  width: 50%;
}

.social-icons {
  text-indent: 15em;
}

.wrap {
  width: 100px;
  margin: 0 auto ;
}




